body {

	color: black;
	font-size: 12px;
	font-weight: normal;
	padding-bottom: 40px
}

h1 {
	margin-top: 15px;
	margin-bottom: 30px;

	font-size: 1.5em;
}

h2 {
	font-size: 1.3em;
}

.header {
	padding-top: 40px;
	background: #14232E;
	padding-bottom: 25px;
	color: #EBE3FF;
}

.answer_user {
	font-weight: normal;
}

.answer_user > a{
	color: #EBE3FF;
}

#answer_header {
	font-size: 12px;
}

#answer_header > a {
	color: #EBE3FF !important;
}

.question_details_text  {
	margin-left: 30px;
}

.question_text_icons, .item_action_bar, .suggested_edits {
	display: none;
}

.answer_attribution_names {
	font-size: 12px;
	margin-top: 20px;
}

img {
	text-align: center;
}

.link_text {
	font-size: 20px;
	color: #EBE3FF;
	font-weight: normal;
}

a.question_link:hover {
	text-decoration: none;
}

#answer_body {
	margin-top: 40px;
	line-height: 25px;
}

.question_link {
	color: #EBE3FF;
}

.thumbnail {
	width: 480px;
	height: 360px;
	cursor: pointer;
}

div.thumbnail:after {
	content: " ";
	background-color: transparent;
	display: block;
	height: 100%;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	background: url('../images/thumbnail-play.png') center center no-repeat;
}