body {
	overflow-x: hidden;
}

.header {
	background-color: #f1f1f1;
	position: fixed;
	top: 0px;
}

.menu {
	width: 100%;
	position: fixed;
	margin-top:50px;
	padding-left:30px;
	padding-top: 10px;
	padding-right: 30px;
	border-bottom: 1px solid #ACACAC;
	text-align: center;
	vertical-align:middle;
	background: #FEFEFE;
	padding-left: 5%;
}

.menu > .span2 {
	width: 12%;
	margin-left: 20px;
}

.dropdown_div {
	margin-top: 13px;
	font-weight: bold;
	text-align: center;
}

.dropdown_div a{
	color: black;
}

.dropdown-menu a {
	text-size: 12px;
	color:black;
}

.dropdown-menu a:hover {
	color:white;
}

.dropdown-toggle {
	font-size: 12px;
}
.dropdown-toggle:hover {
	underline: none;
}

.menu_no_dropdown {
	font-size:12px;
	color: black;
	text-decoration: none;
}

.menu_no_dropdown:hover {
	cursor: pointer;
	color: black;
}

.menu_item {
	font-size: 12px;
	text-align: left;
	padding-left: 25px;
	padding-right:25px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.menu_item:hover {
	background: #0088cc;
	color: white;
}

.menu_item:hover {
	cursor:pointer;
}

#user-information {
	float: right !important;
	text-align: right;
	padding: 0px 20px 0px 20px;
}

#error-alert-div {
	display: none;
	z-index: 101;
	width: 100%;
	position: fixed;
	top: 0px;
	margin: 0;
	border: none;
	text-align: center;
	padding: 5px 10px;
	background: #a82300;
	color: white;
	font-size: 12px;
	border-bottom: 1px solid white;
}

#v-menu
{
	width: 225px; 
	height: 100%;
	padding-top: 10px;
	position: fixed;
	top: 45px;
	left: 0px;
	border-right: 1px solid #cfcfcf; 
	overflow: auto;
}

.nav > hr {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 1px;
	margin-left: 1px;
}

.no-radius {
	border-radius: 0px;
}

.nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.nav:before, .nav:after {
	display: table;
	content: " ";
}

ul, ol {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 12px;
}


.nav-stacked>li+li {
	margin-top: 2px;
	margin-left: 0;
}

.nav-pills>li+li {
	margin-left: 2px;
}

.nav-stacked>li {
	float: none;
}

.nav>li {
	position: relative;
	display: block;
}


#archiveStatus {
	font-size: 85%;
	text-align: left;
}

#search {
	background: url(../images/searchIcon.png) white no-repeat scroll 7px 7px;
	border-radius: 4px;
	padding-left:30px;
	width: 55%;
	margin-left: 30px;
	height: 22px;
	margin-bottom: 1px;

	font-size:12px;
}

#user-information:hover {
	cursor: pointer;
}

#userName {
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	margin-top: 10px;
	padding-right: 40px;
}

#userProfilePic {
	margin-right: 10px;
}

.profile_photo_img {
	width: 45px;
	height: 45px;
}

#right_board {
	margin-top: 30px;
	border-radius: 3px;
	border: 1px solid #ddd;
}

.right_panel_header {
	font-size: 13px;
	font-weight: 700;
	border-bottom: 1px solid #eee;
	background: #fafafa;
	padding: 5px 0px 5px 10px;
}


#content {
	width: 55%;
	margin-left: 224px;
	padding-left: 10px;
	padding-top: 10px;
}


#recommendedContent {
	font-size: 12px;
	padding: 20px 0px 10px 12px;
}

#recommendedContentRefresh {
	float: right;
	padding-right: 11px;
	font-size: 10px;
	font-weight: 100;
	cursor: pointer;
}

.subject_header {
	font-size: 13px;
	font-weight: 700;
	border-bottom: 1px solid #DFDFDF;
	margin-bottom: 15px;
	margin-top:18px;
	padding-left: 10px;
}

.answer_link {
	font-size: 12px;
}

.hidden_topic {
	display: none;
}


#answerHeader {
	font-size: 12px;
	margin-bottom: 20px;
}

#answerHeader a {
	font-size: 13px;
	color: black;
}

#answerBody {
	font-size: 12px;
}

#feedback {
	position: fixed;
	width:100px;
	height:100px;
	bottom:100px;
	left:0px;
}

#top-arrow {
	position: fixed;
	width: 32px;
	height: 32px;
	bottom: 20px;
	right: 30px;
}

#top-arrow:hover {
	background: #f2f2f2;
	cursor: pointer;
}