body {
	overflow-x: hidden;
}

::-webkit-scrollbar-track
{
	background-color: #EFEFEF;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #BCBCBC;
}

::-webkit-scrollbar-thumb:hover
{
	background-color: #8e8e8e;
}

.header {
	background-color: #f2f2f2;
	position: fixed;
}

.menu {
	width: 100%;
	position: fixed;
	margin-top:50px;
	padding-left:30px;
	padding-top: 10px;
	padding-right: 30px;
	border-bottom: 1px solid #ACACAC;
	text-align: center;
	vertical-align:middle;
	background: #FEFEFE;
	padding-left: 5%;
}

.menu > .span2 {
	width: 12%;
	margin-left: 20px;
}

.dropdown_div {
	margin-top: 13px;
	font-weight: bold;
	text-align: center;
}

.dropdown_div a{
	color: black;
}

.dropdown-menu a {
	text-size: 12px;
	color:black;
}

.dropdown-menu a:hover {
	color:white;
}

.dropdown-toggle {
	font-size: 12px;
}
.dropdown-toggle:hover {
	underline: none;
}

.menu_no_dropdown {
	font-size:12px;
	color: black;
	text-decoration: none;
}

.menu_no_dropdown:hover {
	cursor: pointer;
	color: black;
}

.menu_item {
	font-size: 12px;
	text-align: left;
	padding-left: 25px;
	padding-right:25px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.menu_item:hover {
	background: #0088cc;
	color: white;
}

.menu_item:hover {
	cursor:pointer;
}


#secondary-menu {
	margin-top: 55px;
	padding-left: 35px;
	border-bottom: 1px solid #DEDEDE;
	margin-bottom: 13px;
}

#archiveStatus {
	font-size: 85%;
	text-align: left;
	padding-left: 10px;
}

#tags {
	font-size: 80%;
	display:none;

	padding: 8px;
	border: 1px solid #EFEFEF;
	border-radius: 7px;

}

#tags > span {
	padding-right: 20px;
}


#search {
	background: url(../images/searchIcon.png) white no-repeat scroll 7px 7px;
	border-radius: 4px;
	padding-left:30px;
	width: 400px;
	margin-left: 22px;
	height: 22px;
	margin-bottom: 1px;

	font-size:12px;
}

#right_board {
	padding: 5px 15px 5px 15px;
}

.right_panel_header {
	font-size: 13px;
	font-weight: 700;
}

#recommendedContent {
	font-size: 12px;
	padding: 0px 5px 0px 5px;
}

.subject_header {
	font-size: 13px;
	font-weight: 700;
	border-bottom: 1px solid #DFDFDF;
	margin-bottom: 15px;
	margin-top:18px;
	padding-left: 10px;
}

.answer_link {
	font-size: 12px;
}

.hidden_topic {
	display: none;
}


#answerHeader {
	font-size: 12px;
	margin-bottom: 20px;
}

#answerHeader a {
	font-size: 13px;
	color: black;
}

#answerBody {
	font-size: 12px;
}

#feedback {
	position: fixed;
	width:100px;
	height:100px;
	bottom:100px;
	left:0px;
}

#top-arrow {
	position: fixed;
	width: 32px;
	height: 32px;
	bottom: 20px;
	right: 30px;
}

#top-arrow:hover {
	background: #f2f2f2;
	cursor: pointer;
}