body {
	overflow-x: hidden;
}

::-webkit-scrollbar-track
{
	background-color: #EFEFEF;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #BCBCBC;
}

::-webkit-scrollbar-thumb:hover
{
	background-color: #8e8e8e;
}

.header {
	background-color: #E0E0E0;
	position: fixed;
}

.menu {
	width: 100%;
	position: fixed;
	margin-top:50px;
	padding-left:30px;
	padding-top: 10px;
	padding-right: 30px;
	border-bottom: 1px solid #ACACAC;
	text-align: center;
	vertical-align:middle;
	background: #FEFEFE;
	padding-left: 5%;
}

.menu > .span2 {
	width: 12%;
	margin-left: 20px;
}

.dropdown_div {
	margin-top: 13px;
	font-weight: bold;
	text-align: center;
}

.dropdown_div a{
	color: black;
}

.dropdown-menu a {
	text-size: 12px;
	color:black;
}

.dropdown-menu a:hover {
	color:white;
}

.dropdown-toggle {
	font-size: 12px;
}
.dropdown-toggle:hover {
	underline: none;
}

.menu_no_dropdown {
	font-size:12px;
	color: black;
	text-decoration: none;
}

.menu_no_dropdown:hover {
	cursor: pointer;
	color: black;
}

.menu_item {
	font-size: 12px;
	text-align: left;
	padding-left: 25px;
	padding-right:25px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.menu_item:hover {
	background: #0088cc;
	color: white;
}

.menu_item:hover {
	cursor:pointer;
}



#archiveStatus {
	margin-top: 75px;
	font-size: 85%;
	text-align: center;
}

#tags {
	font-size: 80%;
	display:none;
}

#tags > span {
	padding-right: 20px;
}


#search {
	background: url(../images/searchIcon.png) white no-repeat scroll 7px 7px;
	padding-left:30px;
	width: 450px;
	margin-left: 22px;
	height: 24px;
	margin-bottom: 1px;
}

#recommended_board {
	padding: 5px 15px 5px 15px;
}

#recommendedContent {
	font-size: 12px;
	padding: 0px 5px 0px 5px;
}

.subject_header {
	font-size: 16px;
	font-weight: 700;
	border-bottom: 1px solid #DFDFDF;
	margin-bottom: 20px;
	margin-top:20px;
	padding-left: 10px;
}

.answer_link {
	font-size: 12px;
}

.hidden_topic {
	display: none;
}


#answerHeader {
	font-size: 12px;
	margin-bottom: 20px;
}

#answerHeader a {
	font-size: 13px;
	color: black;
}

#answerBody {
	font-size: 12px;
}
